apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-deployment
  namespace: kublab
  labels:
    app: kubernetes
spec:
  replicas: 3
  selector:
    matchLabels:
      app: kubernetes
  template:
    metadata:
      labels:
        app: kubernetes
    spec:
      containers:
        - name: kubernetes
          image: vilmack/kuberneteslab
          imagePullPolicy: IfNotPresent